- name: Deploy to EC2
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ${{ secrets.SERVER_USER }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    script: |
      cd ~/manage-your-gifts || mkdir ~/manage-your-gifts && cd ~/manage-your-gifts

      # Crear .env
      echo "REPO_LOWER=${{ env.REPO_LOWER }}" > .env
      echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> .env
      echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
      echo "RESEND_API_KEY=${{ secrets.RESEND_API_KEY }}" >> .env
      echo "EMAIL_FROM=${{ secrets.EMAIL_FROM }}" >> .env
      echo "FRONTEND_URL=${{ secrets.FRONTEND_URL }}" >> .env

      # Descargar imágenes más recientes y levantar contenedores
      docker compose pull
      docker compose up -d --remove-orphans
